.Note {
  width: 100%;
}
.Note button {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6px;
  border: none;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  transition: background-color 0.2s, transform 0.4s, border-top-left-radius 0.3s,
    border-bottom-left-radius 0.3s;
}

.Unlocked {
  background-color: rgb(255, 255, 255);
}

.Locked {
  background-color: rgb(65, 65, 65);
  color: rgb(163, 163, 163);
}

.Unlocked button:hover {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transform: translateX(6px);
  background-color: rgb(37, 204, 37);
}

.Darker button {
  background-color: rgba(0, 0, 0, 0.06);
}
.Note p {
  margin: 6px 0px;
  padding: 0px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  transition: transform 0.2s;
}

.Tip {
  padding: 0;
}
