.GameData {
  width: 100%;
  display: block;
  padding-top: 12vh;
}

.Selector {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.Switch {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
}

.Switch button {
  color: rgb(214, 214, 214);
  font-family: inherit;
  font-size: 140%;
  border: none;
  background-color: transparent;
  float: left;
  height: 100%;
  width: 50%;
}

.Switch button:hover {
  color: rgb(255, 255, 255);
}

.Switch .NotesActive {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 6px;
}

.Switch .GamesActive {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 6px;
}
