.Stopwatch {
  margin: 10px 10px;
  box-sizing: border-box;
  position: absolute;
  top: 20vh;
  left: 20px;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightcoral;
  transition: transform 1s;
}

.Hidden {
  transform: translatey(-260px);
}

.Stopwatch p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  display: block;
  margin: 12px 10px;
}

@media (max-width: 499px) {
  .Stopwatch {
    width: 80px;
    height: 80px;
    left: 0px;
    top: unset;
    bottom: 20vh;
  }
  .Hidden {
    transform: translatex(-120px);
  }
}
