.Stopwatch {
  margin: 10px 10px;
  box-sizing: border-box;
  position: absolute;
  top: 24vh;
  right: 20px;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightcoral;
  transition: transform 1s;
  align-items: center;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
}

.Hidden {
  transform: translateX(260px);
}

.Stopwatch p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  margin: auto auto;
}
