.Games {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  transition: width 0.5s ease-in;
}

.Games ul {
  width: 100%;
  height: 200px;
  padding-left: 2px;
  margin-top: 0;
  padding-left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.TableHead {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr);
  text-align: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.TableHead p {
  color: white;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 2px;
  font-weight: 200;
}

.NoGames {
  width: 100%;
  height: 200px;
}

.NoGames p {
  color: rgb(48, 48, 48);
  font-family: inherit;
  text-align: center;
  font-size: 160%;
}
