.SwitchBox {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Label {
  font-size: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.Switch {
  position: relative;
  display: inline-block;
  margin: 4px auto;
  width: 60px;
  height: 34px;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(148, 148, 148);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Switch input:checked + .Slider {
  background-color: rgb(148, 148, 148);
}

.Switch input:focus + .Slider {
  box-shadow: 0 0 1px rgb(148, 148, 148);
}

.Switch input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.Slider {
  border-radius: 34px;
}

.Slider:before {
  border-radius: 50%;
}
