.Button {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  box-shadow: 0.8px 1.2px 3px 0.5px rgb(71, 71, 71);
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  color: rgb(31, 31, 31);
  font-weight: bold;
  border: none;
  border-left: 1px solid white;
  outline: none;
  transition: background-color 0.2s ease-out, transform 0.5s, visibility 0s 1s,
    position 0s ease-in 1s, opacity 0.2s;
}

.Button:hover {
  background-color: #2dc21a;
}

.Button:disabled {
  opacity: 0;
}

@media (max-width: 499px) {
  .Button {
    width: 100%;
    border-radius: unset;
    height: unset;
  }
  .Button:hover {
    background-color: white;
  }
  .Button:active {
    background-color: #2dc21a;
  }
}

@media (min-width: 500px) {
  .Button0 {
    transform: translate(12vw, -170px);
  }
  .Button1 {
    transform: translate(4vw, -86px);
  }
  .Button2 {
    transform: translateY(-22px);
  }
  .Button4 {
    transform: translateY(-22px);
  }
  .Button5 {
    transform: translate(-4vw, -86px);
  }
  .Button6 {
    transform: translate(-12vw, -170px);
  }
}
