.Saved {
  color: rgb(11, 167, 11);
}

.Unsaved {
  animation: rotate 0.8s infinite;
}

.NoUser {
  color: rgb(102, 102, 102);
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg) scale(0.9);
  }
  to {
    transform: rotateZ(360deg) scale(0.9);
  }
}
