.Field {
  width: 60%;
  height: 26px;
  padding-left: 8px;
  border-radius: 20px;
  border: rgb(0, 0, 0) solid 1px;
  margin-top: 10px;
  outline: none;
  transition: border 0.2s;
  box-sizing: border-box;
}

.Valid {
  border: rgb(0, 185, 0) solid 1.5px;
}

.InValid {
  border: red solid 1.5px;
}

@media (max-width: 499px) {
  .Field {
    width: 80%;
  }
}
